<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLQ Bot</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>NLQ Bot</h1>
    <p>Currently selected DB: {{ db_name }}</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if answer %}
    <h2>Answer:</h2>
    <p>{{ answer }}</p>
    {% endif %}
</body>
</html>
